.homeTitle {
  background-color: #add8e6;
  font-family: 'Baloo 2', cursive;
  display: flex;               /* row layout: image + text */
  flex-direction: row;         
  justify-content: center;     
  align-items: center;         
  gap: 20px;                   
  height: 200px;
}

.title {
  font-size: 2.5rem;  
  font-weight: bold;  
  margin: 0;      
  text-decoration: underline;    
  color: white
}

.textContainer {
  display: flex;
  flex-direction: column;      /* stack heading + subheading vertically */
  justify-content: center;     
  align-items: flex-start;     /* optional: align text to left */
}

.subheadingTitle { 
  font-size: 1.2rem;  
  color: rgb(255, 255, 255);        
  margin-top: 5px;    /* space between heading and subheading */
}

.eagleLogo {
  max-width: 150px;   
  height: auto;
  border-radius: 10px;
}

.aboutSection {
  text-align: center;           /* center text */
  padding: 40px 20px;          /* space around content */
  background-color: lightblue;   /* light background */
  font-family: 'Baloo 2', cursive;
}

.aboutButton {
  margin-top: 50px;              /* space below subheading */
  padding: 30px 70px;            /* button size */
  font-size: 2rem;               
  font-family:Verdana, Geneva, Tahoma, sans-serif; /* match your heading font */
  color: white;                  
  background-color: transparent;     /* nice blue button */
  border: solid 2px white;       /* white border */        
  border-radius: 8px;            /* rounded corners */
  cursor: pointer;               
  transition: background-color 0.3s ease; /* smooth hover */
  align-self: center;          /* center button under text */
}

.aboutButton:hover {
  background-color: white;     /* darker blue on hover */
}

.Social-Media {
  padding : 40px 20px;
  background-color: lightblue;
  text-align:left;
  font-family: 'Baloo 2', cursive;
  color: white;
}

.Social-Tag {
  font-size: 4rem;
  font-weight: bold;
  margin-left: 100px;
  text-decoration: underline;
  transform: skewX(20deg);
  transform: rotate(-10deg);
  padding-bottom: 150px;
}

.Social-Tag-2 {
  text-align: right;
  font-size: 1.5rem;
  margin-left: 100px;
  transform: skewX(20deg);
  transform: rotate(10deg);
  padding-bottom: 200px;
  translate: -100px -150px;
}